<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The list of Products  : </title>
</head>
<body>
<h1>Chào mừng bạn đến quán cafe - Products list </h1>
<h2 th:text ="${msg}">Danh sách sản phẩm : </h2>
<h3>The list of products </h3>
<table border="1">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Actions </th>
    </thead>
    <tr th:each="x : ${products}">
        <td th:text="${x.getId()}"></td>
        <td th:text="${x.getName()}"></td>
        <td th:text="${x.getPrice()}"></td>
        <td>
            <a th:href="@{'/products/edit/'+ ${x.id}}" > Edit </a> |
            <a th:href="@{'/products/delete/'+ ${x.id}}" > Delete </a>
        </td>
    <tbody>


    </tbody>
</table>

</body>
</html>